.shape{
    margin: 0 0 0 auto;
    position: relative;
}

.dropdown_btn{
    display: block;
    width: 50px;
    padding: 0.2em;
    background: none;
    border: 0;
}

.dropdown_body{
    display: none;
    width: 250px;
    background: #fff;
    box-shadow: 0 2px 6px 2px rgba(60, 64, 67, 149), 0 1px 2px 0 rgba(60, 64, 67, 0.302);
    border-radius: 4px;
    overflow: hidden;
    position: absolute;
    top: 32px;
    left: 0;
}

.dropdown_btn.is-open + .dropdown_body {
    display: block;
    z-index: 4;
}

.dropdown_list{
    margin: 0;
    padding: 0;
}

.dropdown_item{
    display: block;
}

.dropdown_btn.is-open::after{
    content:"";
    width: 100%;
    height: 100%;
    cursor: default;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
}

.shape1{
    display: block;
    position: relative;
    width: 500px;
    height: 500px;
}

.shape2{
    display: block;
    position: relative;
    width: 500px;
    height: 500px;
}

.shape-hidden{
    display: none;
}

.picture{
    position: absolute;
    display: block;
    width: 100%;
}


.logo-pos1{
    position: absolute;
    display: block;
    width: 50px;
    top: 100px;
    left: 60px;
}

.logo-pos2{
    position: absolute;
    display: block;
    width: 50px;
    top: 430px;
    left: 60px;
}

.logo-pos3{
    position: absolute;
    display: block;
    width: 50px;
    top: 100px;
    left: 395px;
}